@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 10%;
  margin: 0;
}

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  scrollbar-gutter: auto !important;
}

.esri-popup {
  z-index: 1000;
}