@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 10%;
  margin: 0;
}

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  scrollbar-gutter: auto !important;
}

.esri-popup {
  z-index: 1000;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: lightgray transparent; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thinner */
  background-color: transparent; /* Optional: make the track transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray; /* Set thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}
